<section class="container">
    <div class="row">
        <div *ngIf="!newsFound">
            no news yet
        </div>
        <div *ngIf="newsFound">
            <div class="col-12 col-md-3 " *ngFor="let competitionNews of followedCompetitionsNews">
                <div *ngFor="let one of competitionNews">
                    <div class="p-2 my-3 hovering">
                        <div class="compBox p-2 ">
                        
                            <p>{{ one.title }}</p>
                            <p>{{ one.body }}</p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
            
    </div>  
</section>