<section class="container my-3">
    <form [formGroup]="addRoleToUserForm" (ngSubmit)="addRoleToUser()">
 
        <div class="row mb-3">
            <input class="form-control"  placeholder="user email" formControlName='email'>
        </div>
        <select class="form-select mb-3" formControlName='role'>
            <ng-container *ngFor="let role of roles">
                <option value="{{ role._id }}">{{ role.name }}</option>
            </ng-container>
        </select>
        <div class="row mb-3">
            <button class="btn btn-primary">add role to user</button>
        </div>
    </form>
</section>